<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <h1>Update Post</h1>
    <p>Post ID: <%= post.id %></p>
    <p>UserName: <%= post.username %></p>
    <hr>
    <form action="/posts/<%= post.id %>?_method=PATCH" method="POST">
        <label for="content">Update Content:</label> <br> <br>

        <textarea name="content" id="content" required><%= post.content %></textarea> 
        <br> <br>
        <button type="submit">Update Post</button>
    </form>
</body>
</html>