<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new post</title>
</head>
<body>
    <h2>Add Your New Post</h2>
    <form action="http://localhost:3000/posts" method="POST">
        <input type="text" name="username" id="user" placeholder="Enter your User ID"> <br> <br>

<textarea name="content" id="newpost" placeholder="write your post here "></textarea> <br>
<button type="submit">Add Post</button>
    </form>
</body>
</html>